__pycache__/
<import>
*.pyo
<import>
*.pyd
<import>
*.so
<import>
*.egg-info
<import>
*.egg
<import>
*.egg-link
<import>
*.egg-info/
<import>
*.egg-info/*
<import>
*.egg-info/SOURCES.txt
<import>
*.egg-info/top_level.txt
*.pyc
*.pth